* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0E7C7B;
  text-align: center;
}
.container {
  height: 70vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width:60vmin;
  justify-content: center;
  gap: 1.7vmin;
  display:grid;
  grid-template-rows:repeat(3,1fr);
  grid-template-columns:repeat(3,1fr) ;
}
.box{
    background-color: #FBBFCA;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    font-size: 8vmin;
    color:#4c3036;
    text-shadow: 0 0 0.17rem #4c3036;


}

#reset{
  padding: 1rem 2rem;
  font-size: 1.35 rem;
  background-color: #191913;
  color:aliceblue;
  border-radius: 0.3rem;
  border: none;
}


#newgame{
  padding: 1rem 2rem;
  font-size: 1.35 rem;
  background-color: #191913;
  color:aliceblue;
  border-radius: 0.3rem;
  border: none;
}

#msg{
    color:rgb(242, 253, 96);
    font-size: 8vmin;
}

.message-container{
  height: 20vmin;
  
}

.hide{
  display: none;
}